{% extends 'base.html.twig' %}

{% block body %}
 <h1>Contacto</h1>
    <div class="separador"> </div>
<article class="row">
   
        <div class="col-md-8">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf0nBIZgBTNyvDHGUeyOqT6ndPXz0IAlhZjlaNfSQtwrlZbxA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </div>
        <div class="col-md-4">
           <img class="img-contacto" src="{{ sitio.logoSitio }}" alt="logo de {{sitio.nombreSitio}}">
        </div>
    </div> 
</article>

{% endblock %}
