{% extends 'base.html.twig' %}

{% block body %}
<h1 class="mt-3">Optimización</span></h1>
<div class="separador"></div>
<article class="row">
    <div class="col-md-6 ">
        Análisis y Estadísticas
        Estadísticas de Visitas: Datos sobre la cantidad de visitas, páginas vistas, tiempo en el sitio, tasa de rebote, etc.
        Fuentes de Tráfico: Información sobre desde dónde llegan los usuarios (orgánico, redes sociales, referencias, campañas).
        Análisis de Contenido: Identificar qué páginas o contenidos son los más visitados y populares.
        Análisis de Dispositivos y Navegadores: Estadísticas de dispositivos y navegadores usados por los visitantes para ajustar la compatibilidad.
        Mapa de Calor (Heatmap): Para ver dónde hacen clic los usuarios y qué áreas del sitio generan más interés.
        Tiempo de Carga de Páginas: Informes sobre el rendimiento del sitio en términos de velocidad de carga y cuellos de botella.
        Demografía de Usuarios: Información general sobre la ubicación y edad de los usuarios, si es relevante para el sitio.
        Alertas y Notificaciones: Configurar alertas sobre anomalías o cambios significativos en el tráfico o el rendimiento.
    </div>
</article>


{% endblock %}
