{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
                <div class="col-md-6">
                    <h1>Pagina no encontrada</h1>
                    <div class="separador"> </div>
                    <p>Perdón, la página que buscas no existe :(</p>
                </div>
                <div class="col-md-6">
      
                </div>
            </article>

{% endblock %}
