{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    <div class="col-md-6">
        <h1>Manual de ayuda</h1>
        <div class="separador"> </div>
        <ul>
            <li>General</li>
            <li>Como crear un pagina</li>
            <li>Como manipular la barra de navegación</li>
            <li>Cómo manejar los usuarios</li>
        </ul>
    </div>
    <div class="col-md-6">
  
    </div>
</article>

{% endblock %}
