{% extends 'base.html.twig' %}

{% block body %}
<h1 class="mt-3">Optimización</span></h1>
<div class="separador"></div>
<article class="row">
    <div class="col-md-6 ">
        <div class="card">
            <h2>Etiquetas Meta</h2>
            <h3>Meta Title (titulo)</h3>
            <p>Configurar un título único y descriptivoque incluya palabras clave relevantes. Este aparece en el navegador</p>
            <h3>Meta Description (Descripción):</h3>
            <p>Descripción para la página que se mostrará en los resultados de búsqueda. Esta debe ser atractiva y contener palabras clave.</p>
            <h3>Meta Keywords (Palabras clave)</h3>
            <p>Incluir palabras clave como referencia para los motores de búsqueda</p>
        </div>
        <div class="card">
            <h2>Etiquetas Open Graph y Twitter Cards</h2>
            <p>Para mejorar la visualización de contenido en redes sociales.</p>
            <p>Estas etiquetas definen cómo se verán las páginas cuando se comparten en plataformas sociales</p>
        </div>
        <div class="card">
            <h2>Generación Automática de Sitemaps XML</h2>
            <p>Un sitemap XML es una lista estructurada de todas las URLs de un sitio, y facilita a los motores de búsqueda el rastreo e indexación de cada página</p>
            <p>debería generar este archivo automáticamente y actualizarlo cada vez que se agrega contenido nuevo.</p>
        </div>

    </div>
        <div class="col-md-6 ">
7. Breadcrumbs (Migas de Pan)
Las migas de pan no solo mejoran la navegación del usuario, sino que también proporcionan a los motores de búsqueda una estructura adicional sobre cómo se organizan las páginas dentro del sitio. Esto puede ayudar a mejorar la visibilidad de subpáginas en los resultados de búsqueda.
12. Análisis y Sugerencias de Palabras Clave
Algunas herramientas SEO pueden incluir un módulo para sugerir palabras clave relevantes o analizar la densidad de palabras clave en el contenido.
        </ol>
    </div>
</article>


{% endblock %}
